[2019-06-24 14:44] hohsiangwu opened #1 "Launch tracking issue"
- [ ] Finish annotation (https://semanticcodesearch.z22.web.core.windows.net/)
- [ ] Integration with W&B
- [ ] GitHub benchmark landing page

[2019-09-18 19:22] #1 closed, assigned to nobody

[2019-09-20 22:37] hamelsmu opened #11 "Warn Users That Fork is Being Created"

[2019-09-20 22:38] hamelsmu opened #12 "Questions About Submission Flow"
![image](https://user-images.githubusercontent.com/1483922/65362564-b9db4380-dbbc-11e9-86d2-05723560d0cc.png)

[2019-09-20 23:02] hamelsmu commented on #11
@nbardy -- if you could make the permission as parsimonious as possible that would be appreciated as well!

[2019-09-21 11:27] #11 closed

[2019-09-21 11:28] #12 closed

[2019-09-23 15:43] hamelsmu opened #13 "W&B Default Screen - Wasted Real Estate"
Consider opening the Auto-Visualizations by default, right now - when you navigate to a project it opens with the below view.  Seems like wasted real-estate

![image](https://user-images.githubusercontent.com/1483922/65440762-179aa600-ddde-11e9-944a-830b713c0195.png)

[2019-09-23 15:47] hamelsmu opened #14 "W&B When You Tag A Run, Doesn't Appear Until Refresh"
See animation below, perhaps something is broken in javascript

![label_problem](https://user-images.githubusercontent.com/1483922/65441103-b1625300-ddde-11e9-8aa9-2707070530a6.gif)

I do get the following error in the console: `Error while trying to use the following icon from the Manifest: https://app.wandb.ai/favicon.png (Resource size is not correct - typo in the Manifest?)`

[2019-09-24 19:07] staceysv commented on #13
moving this to relevant wandb issue tracker -- thanks!

[2019-09-24 19:07] #13 closed

[2019-09-24 19:10] staceysv commented on #14
this is already tracked in Weights & Biases -- thanks!

[2019-09-24 19:10] #14 closed

[2019-09-26 21:17] bzz opened #38 "Doc: a broken link in resources/README.md"
Thank you for doing a great job putting this together,  publishing it and congratulations on the launch 🎉

This is most probably a nitpick, but a link in https://github.com/github/CodeSearchNet/blob/master/resources/README.md#data-format points to non-existing `resources/docs/DATA_FORMAT.md`

I'm not familiar with the project yet, but it looks like may be it can be replaces with https://github.com

[2019-09-26 21:50] #38 closed

[2019-09-27 02:31] alext234 opened #41 "downloads of pretrained baseline models"
Is there a link where we can download pretrained baseline models ?

[2019-09-27 03:07] hamelsmu commented on #41
You can head over to Weights & Biases and you will find the model artifacts there:

1. Go to the [leaderboard](https://app.wandb.ai/github/CodeSearchNet/benchmark/leaderboard)

2. Select a run

3. from left-hand panel select files

4. you will see model files there

[2019-09-27 03:35] #41 closed

[2019-09-27 03:36] alext234 commented on #41
Thanks @hamelsmu
I've seen some `pkl.gz` - should be the pickled models.

[2019-09-27 13:35] TysonAndre opened #44 "Extract descriptions from `@return` doc comments if method has no summary?"
e.g. some short methods may contain a description in the return tag, but not a description of the method itself. (to avoid redundancy).

Doing this would extract more methods, but they may be of lower quality if incorrectly parsed or automatically generated. I'd expect a description such as `@return bool STARTDESCRIPTION true if this is a float` to be extracted (I'm not familiar with how the data

[2019-09-28 02:16] hamelsmu commented on #44
@TysonAndre thanks again for your helpful insight.  For reasons discussed in https://github.com/github/CodeSearchNet/pull/46 we are not making changes regarding improvements to the model or preprocessing to this repository but are really interested in your results if you try this out yourself benchmarks might look like.

I suspect you might beat the benchmarks for PHP :)

[2019-09-28 09:43] rudolfolah opened #48 "Thanks"
Just wanted to leave a note of appreciation. I've been looking for parsers that would deconstruct code into tokens easily (specifically for Ruby code, I took at look at [parser](https://github.com/whitequark/parser) which is just an AST and would have required more processing) so that I could figure out potential call sites and relations between test files and source code.

I'm looking to prioriti

[2019-09-28 19:21] TysonAndre commented on #44
Thanks for the reply. I suppose [CONTRIBUTING](https://github.com/github/CodeSearchNet/blob/master/CONTRIBUTING.md#scope) could be clearer about what parts of the code accept minor improvements unless it's on a case-by-case basis. Something along the below lines:

[2019-09-28 21:53] hamelsmu commented on #44
@TysonAndre Thank you very much for your thoughtful suggestion.  I apologize that our CONTRIBUTING.md was not clearer and I apologize.  Thanks for bringing this to our attention -- I'll make an ammendment right now.

Thanks again for contributing to this project!  We really appreciate it!

[2019-09-28 23:22] hamelsmu commented on #48
Thanks @rudolfolah, The real super heroes in this situation are the @github/semantic-code team (@dcreager @aymannadeem @tclem @joshvera @maxbrunsfeld @patrickt @rewinfrey @robrix)

You should check out this project that they recently open-sourced as it may be really useful for what you want to do!  https://github.com/github/semantic

Thank you for the kind note 🙇

[2019-09-28 23:22] #48 closed

[2019-09-30 13:33] hamelsmu commented on #44
@TysonAndre we amended our CONTRIBUTING to allow for these kinds of changes, now.  We have to setup better CI/CD etc. to allow for these contributions so we may be slow to merge these kinds of things in the interim

[2019-09-30 16:11] tclem commented on #48
Nice! Semantic does syntax aware diffs which might be just the thing for ☝️. Check out the [examples](https://github.com/github/semantic/blob/master/docs/examples.md#diffs).

[2019-10-01 06:24] yashjakhotiya opened #52 "Load data from disk into memory in batches"
Instead of loading all training and test data, can we load the data in memory in batches, i.e. on the fly during training and evaluation?

[2019-10-01 08:43] mmjb commented on #52
Thank you for the suggestion. This is not easy to implement for training (where [shuffling between epochs](https://github.com/github/CodeSearchNet/blob/1dbe924b70cec5d0c47726855214cbbac0ee26d1/src/models/model.py#L640) requires having access to all the data, or at least some way of addressing smaller groups of samples at a time), but could be an easy enhancement for evaluation.

[2019-10-01 11:09] yashjakhotiya commented on #52
One way is to have a single training example in a single file, shuffle the list of filenames before every epoch ([as you already do](https://github.com/github/CodeSearchNet/blob/1dbe924b70cec5d0c47726855214cbbac0ee26d1/src/models/model.py#L38)), prefetch batches and preprocess them using a CPU while the model trains on GPUs, and maybe use [tf.data](https://cs230-stanford.github.io/tensorflow-input

[2019-10-01 11:50] mmjb commented on #52
Yes, that's roughly how to do it. Two notes on that:
1. One example per file has surprising side effects at this scale (e.g., many filesystems become very slow when millions of files are in one directory, so you need subfolders; reading one file from the can lead to horrible disk access patterns; shuffling + length of an epoch make sure that caches don't work well). These things can be mitigated b

[2019-10-01 12:07] yashjakhotiya commented on #52
Got your point :)

This is an example, although on the data pipeline side, of general problems faced with system requirements when trying to beat SOTA language models these days.

Anyway, closing the issue now. Thank you for your consideration.

[2019-10-01 12:07] #52 closed

[2019-10-01 17:03] brandly opened #53 "Repo has topic "nueral-networks""
while [others have made the same typo](https://github.com/topics/nueral-networks), `neural-networks` is [far more popular](https://github.com/topics/neural-networks). thanks!

[2019-10-01 18:42] hamelsmu commented on #53
@brandly great catch.  Fixed this

[2019-10-01 18:42] #53 closed

[2019-10-04 12:14] vitojph opened #55 "Are you planning to release the relevance judgements?"
Hi,

Fantastic initiative, thanks a lot :-)

Are you planning to publish the relevance judgements, ie, the 4k expert relevance annotations?

[2019-10-06 08:25] chenqiuyuan opened #56 "The function processor.process_single_file() fail to output."
Hi, I want to use the parser to process my own data. First I want to try several single files, but the function  `processor.process_single_file()` fails to output things (just an empty list). How can I debug? I have used the provided docker to set up my environment.

[2019-10-07 17:07] hamelsmu commented on #56
Can you provide the exact commands etc that we can use to try to reproduce this issue?

[2019-10-07 17:08] hamelsmu commented on #55
I am not sure we are going to release that.  I'll let my colleagues chime in on that:

@mmjb @hohsiangwu @mallamanis

[2019-10-07 17:09] hamelsmu commented on #44
@TysonAndre you are welcome to try to make a PR with these changes if you are so inclined.  We have amended our CONTRIBUTING rules to allow for these changes

[2019-10-08 05:18] chenqiuyuan commented on #56
Hi, thanks for the response！ I just followed the readme and executed `script/bootstrap` and `script/console`. Then I find that `script/setup` will download a very large file (12 GB). So I skipped it and tried to use the `parser_cli` (which call `processor.process_single_file()`) to parse several local single files but fail.

However, I have targeted the problem. Today I read the source code and fo

[2019-10-08 06:35] hamelsmu commented on #56
Hi @chenqiuyuan -- unfortunately we do not have the bandwidth to extend the functionality of the tools provided to parse local files with the interface you are looking for.  It should be something you can do by modifying the code contained in this repo slightly.

Sorry about that, please let us know if you end up making anything cool with this data!

[2019-10-08 06:35] #56 closed

[2019-10-08 09:13] dwang55 opened #57 "script/setup failed"
Thanks for your cool project!
I follow the quickstart of the instruction, but it seems that I can't pip tensorflow_gpu in the docker container because of network problem. Here is the error information:
Step 13/21 : RUN pip --no-cache-dir install https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.12.0-cp36-cp36m-linux_x86_64.whl
 ---> Running in 10ecd6cca56f
Collecting tensorflow-

[2019-10-08 09:19] mallamanis commented on #55
Hi,
I am against publicly releasing the annotations at this point. By having them "hidden" behind the leaderboard evaluation we are in less danger of overfitting on the dataset (or someone "cheating" by looking in the test set). The test set is quite small and sooner or later solutions will start overfitting it.

Having said that, (a) I think that we should eventually release them (e.g. after a ye

[2019-10-08 12:32] vitojph commented on #55
Hi @mallamanis! I understand your reasons to keep the annotations away from curious eyes, especially when the competition just got started. But, anyway I encourage you folks to release them in the near future in order to foster evaluation of NLP techniques applied to search engines.

AFAIK, it's quite difficult to find freely available datasets and annotations to fully evaluate information retriev

[2019-10-09 02:36] dwang55 commented on #57
It seems that this error is just because of my network problem. No need to keep it open.

[2019-10-09 02:36] #57 closed

[2019-10-11 05:06] anktplwl91 opened #59 "Calculating NDCG for a Keras model during run-time."
Hi

I am trying to build a Keras model from scratch using only Python dataset for a start. But I am confused as to how NDCG can be calculated during training or even testing.

According to my understanding, calculating NDCG will require a ground truth of which pages are relevant to a query in a ranked order and the model's predictions for that query. But in the dataset, each code-block is provided

[2019-10-11 08:27] mallamanis commented on #59
Hi @anktplwl91 the human-annotated relevance data are the ones used for computing NDCG. There is no data in this repo that would allow you to compute an NDCG. Once you submit to the leaderboard, the NDCG on the test data will be computed.

For training/validation, once can compute some proxy metric. We use MRR for validation (note that you cannot directly differentiate through MRR) and a classific

[2019-10-15 23:54] #55 closed

[2019-10-15 23:55] #59 closed

[2019-10-16 19:14] Ceceu opened #66 "Standalone model_predictions.csv"
How to submit only `model_predictions.csv` file from an external project?

[2019-10-17 01:51] Ceceu opened #67 "script to request and download model NDCG"
Since the `relevance_annotations.csv` is not available, a script to upload `model_predictions.csv` and download a model statistics file (NDCG, MRR, for example) would be great.

[2019-10-17 06:21] hamelsmu commented on #66
@Ceceu did you read [these instructions](https://github.com/github/CodeSearchNet/blob/master/BENCHMARK.md#submitting-runs-to-the-benchmark)  ?  If so, please let us know if some part of that is not clear.  What step you are stuck on exactly, etc.

[2019-10-17 06:25] hamelsmu commented on #67
Is this a duplicate of https://github.com/github/CodeSearchNet/issues/66 if so please clarify how this issue is different?

Not sure what you mean by a model statistics file.  You can see model evaluation metrics in Weights and Biases.  MRR is something you are expected to calculate yourself (this is only a proxy metric for training), however you can feel free to inspect our code for a guideline o

[2019-10-17 11:18] Ceceu commented on #67
NDCG is the commonly used metrics in information retrieval systems. However, because relevance judgments are not public, the only way to calculate them is by submitting model_predictions.csv to WB. It was not clear to me how I can check NDCG in W&B if I have only model_predictions.csv.

For this reason, I suggested a request script, which just sends the model_predictions.csv file to W&B and return

[2019-10-17 11:41] Ceceu commented on #66
Following the instructions in [submitting model predictions to W&B](https://github.com/github/CodeSearchNet/blob/master/BENCHMARK.md#submitting-model-predictions-to-wb), I generated `model_predictions.csv` as a result of the [submission format](https://github.com/github/CodeSearchNet/blob/master/BENCHMARK.md#submission-format). I performed steps 1 and 2 without being logged in to W&B. From here, i

[2019-10-17 17:00] hamelsmu commented on #67
You can submit your `model_predictions.csv` to W&B without logging a full run on W&B.

wandb.init()
wandb.save()

Read [these docs](https://docs.wandb.com/library/python/save) for more details.  We won't be able to make this type of script at the moment, but this should provide you with what you are looking for

[2019-10-17 17:01] hamelsmu commented on #66
See my comments in https://github.com/github/CodeSearchNet/issues/67

we can continue the discussion there.  🙇 Thanks!

[2019-10-17 17:01] #66 closed

[2019-10-17 17:12] Ceceu commented on #67
Great.

[2019-10-17 17:12] #67 closed

[2019-10-23 21:40] rajurajvijay619 opened #81 "Request for a smaller dataset for researchers with lesser resources"
Thank you for making this amazing problem statement public, along with a very comprehensive dataset!

Can a relatively smaller size dataset ( a subset ) of it be made available for independent developers/researchers who might try running this on their personal machines ?

This will open up the problem for a larger audience and may bring in some innovative solutions!

[2019-10-27 14:02] bzz opened #83 "A minor Java tokenization utf-related issue"
This may not be something very important or worth fixing immediately, but there may be a small bug in Java function tokenization.

At least one [function](https://github.com/jbehave/jbehave-core/blob/bdd6a6199528df3c35087e72d4644870655b23e6/examples/i18n/src/main/java/org/jbehave/examples/trader/i18n/steps/DeSteps.java#L22-L25) in the dataset has `code_tokens` that do not include a `{` token.

---

[2019-10-27 14:16] bzz commented on #81
Hi @rajurajvijay619, did you try using just a single language for the experiments?

E.g for java, I find total 500k samples from 184Mb of `.gz` to be very comfortably manageable on a laptop.

As one can see from published [analysis example](https://github.com/github/CodeSearchNet/blob/master/notebooks/ExploreData.ipynb),
<img width="181" alt="Screen Shot 2019-10-27 at 3 13 15 PM" src="https://user

[2019-10-28 08:47] sara-02 commented on #81
@bzz just one question, when running for a single language(local machine), does the setup still requires GPUs?

[2019-10-29 00:22] hamelsmu commented on #81
@sara-02 you can download data without GPUs, however running the default models in this repo will be painfully slow without gpus.  However, you can try training on a smaller sample of the data as @bzz proposes, you can also [set this parameter](https://github.com/github/CodeSearchNet/blob/master/src/train.py#L21) to limit the size of the data.

Also, google colab notebooks are great for free GPUs.

[2019-10-29 00:24] hamelsmu commented on #81
@rajurajvijay619 can you describe your constraints a bit more? Is it disk size for downloading the dataset?  Can you download the entire dataset and just sample from that?

Thanks for your feedback

[2019-10-29 00:25] hamelsmu commented on #83
@mallamanis I am not that familiar with the Java tokenizer, is this something you understand more?

[2019-10-29 09:22] sara-02 commented on #81
Thanks. I will look inot colab as well as running it locally with only one language. I was hesitant to start because the first set in setup states that `Additionally, you must install Nvidia-Docker to satisfy GPU-compute related dependencies.` So, I thought the code might not run as is on a local system with GPUs.

[2019-10-29 15:01] hamelsmu commented on #81
@sara-02 you are correct regarding docker.  I think in the end it could make your life easier to use the Docker setup, as installing all the dependencies by hand can become very cumbersome and brittle.

Let me know where you are struggling with Docker and I will be more than happy to help!   I wrote this [tutorial](https://ml4code.github.io/base-taxonomy/representational.html) regarding Docker inc

[2019-10-29 15:03] hamelsmu commented on #81
if you are using collab, I do not believe you will be able to use Docker, in that case you will have to install via `pip` all the dependencies defined in the Dockerfile in the Collab notebook

[2019-10-29 17:44] hamelsmu commented on #81
I'll go ahead and close this issue, please lmk if there are any more questions

[2019-10-29 17:44] #81 closed

[2019-10-30 18:23] bzz commented on #83
One more example that may not be related, but if it is, would make me think about possibility of some off-by-one rather than a UTF 🐞 . Will be happy to move it to a separate issue as well.

Here is a [java function](https://github.com/spring-projects/spring-boot/blob/0b27f7c70e164b2b1a96477f1d9c1acba56790c1/spring-boot-project/spring-boot-autoconfigure/src/main/java/org/springframework/boot/autoco

[2019-11-11 16:03] v587su opened #86 "Comments are not removed in code_tokens"
This is a data from java_test_0.jsonl file. There are still comments in code_tokens. I highlight them using black.

"repo": "ReactiveX/RxJava", "path": "src/main/java/io/reactivex/Observable.java", "func_name": "Observable.skipLast", "original_string": "@CheckReturnValue\n    @SchedulerSupport(SchedulerSupport.CUSTOM)\n    public final Observable<T> skipLast(long time, TimeUnit unit, Scheduler sch

[2019-11-18 15:13] hamelsmu opened #87 "Shuffle Validation Set when calculating MRR in included scripts"
from @mallamanis

---

One masters' student in Berkeley has asked me the following question for CodeSearchNet.

The validation loss logging shows that the MRR performance decreases as it is being computed (at the end of the epoch). This seems to be the case with many of the runs on W&B. Do you have any idea why this might happening? I don't see anything obviously wrong.

For example,

[code]

[2019-12-04 04:36] fengzhangyin opened #91 "Is the MRR calculation reasonable now?"
CodeSearchNet is a very good task. I think this will greatly promote the development of this field.
But I have some questions, as follows:
1. The MRR and NDCG performances are inconsistent.  The model has a high MRR value on test sets, but has a low score on the leaderboard. Why is that?
2. According to my understand, the calculation of MRR is based on the order in a batch.  However, the examples

[2019-12-04 09:53] mallamanis commented on #91
Hi @fengzhangyin

CodeSearchNet has two tasks:

a) Given a documentation comment (e.g. Python docstring) try to find the original code snippet that matches that comment. For this task, there is plenty of data and thus supervised machine learning methods can be used to train models.
  * During training, we randomize the batch elements and ask the model to learn to pick the correct code from within

[2019-12-04 10:35] fengzhangyin commented on #91
Hi @mallamanis
Thank you very much. The explanation is very clear.

[2019-12-04 10:40] #91 closed

[2019-12-04 15:25] mallamanis commented on #86
Hi @v587su we do remove the documentation comment (JavaDoc) but not any other comments as these could still be useful for code search. Feel free to manually remove them, if you feel that this would help.

[2019-12-04 15:25] #86 closed

[2019-12-05 13:03] Sewens opened #93 "Sorry I still unkown the whole Train-Test workflow after reading all instructions."
Greetings, I'm a PhD student working in IR/SE. I'm very happy to see CSNet project and thank you for your great work.

I'm working on software representation and code retrieval/search. I'm familiar with IR dataset, but forgive me I quite not understand how CSNet dataset provide data annotataions.

I've got all six language for AWS, and I've found queries here [https://github.com/github/CodeSearchN

[2019-12-05 13:05] mallamanis commented on #93
Hi @Sewens
Does the response [here](https://github.com/github/CodeSearchNet/issues/91#issuecomment-561563233) reply to your comment maybe?

[2019-12-05 14:11] Sewens commented on #93
I see. You means every query<-->code snippet relevance label can be seen as relationship (pair) between code documentation<-->main code body.

U means for model offline train/test we can only use code you provided. The ture label and negative sample need  We need to train a model that can select true code which match the documentation. The annotation will NOT be published, we can only evaluate mod

[2019-12-05 14:58] mallamanis commented on #93
Exactly, the evaluation on the small human-annotated dataset can only be performed via the leaderboard. This is because the dataset is relatively small and it will be easy to overfit on it.

Having said that, you can use the `documentation<->code` as a proxy task as well as any other additional data you'd like (e.g. if you have some other data that you think can be useful during training/validatio

[2019-12-05 14:58] #93 closed

[2019-12-09 19:41] sjakati98 opened #95 "tokens_str in Encoder"
I have been trying to implement a "custom" encoder within this codebase, and I was wondering how to get access to the raw tokens (in string form).

What I have tried so far:

* Setting up the `tokens_str` placeholder:
[code]

Once I have those, I am trying to pipe the tokens into the tf_hub Elmo module, as follows:
[code]

I can see from my debugging statements, that `seq_tokens` shape is `(?, 200

[2019-12-10 13:54] fengzhangyin commented on #87
Hi @hamelsmu @mallamanis ,

According to my understanding, the order of the data should be fixed when we calculate MRR.
@mallamanis  mentioned this [here](https://github.com/github/CodeSearchNet/issues/91).

But I find that this is not the case in the code.  In model_test.py at line 82, the data is shuffled.
May be this [place](https://github.com/github/CodeSearchNet/blob/master/src/model_test.py#

[2019-12-12 19:16] scorpionhiccup opened #98 "RELEVANCE_ANNOTATIONS_CSV_PATH file for running evaluation"
Hi,

I wanted to run an evaluation using the NDCG score as done in the paper.

Where is the RELEVANCE_ANNOTATIONS_CSV_PATH for the 99 queries as mentioned in the README to run the `/src/relevanceeval.py` file?

Just want to test my results..

[2019-12-17 08:41] mallamanis commented on #98
Hi @scorpionhiccup

The file is hidden behind the leaderboard. Once you submit the relevant evaluation is run. We don't release the annotation file yet, to avoid the case where people overfit on the small testset. You're more than welcome to submit to the leaderboard if you'd like to see the results of your model. We do accept multiple submissions (but no more than 1 submission every two weeks, se

[2019-12-17 08:41] #98 closed

[2019-12-17 08:49] mallamanis commented on #95
HI @sjakati98,
The code doesn't support using the string representation of tokens as-is.

I believe that you need to create a new `Encoder` for your use-case. Specifically, [`load_data_from_sample`](https://github.com/github/CodeSearchNet/blob/master/src/encoders/encoder.py#L137) is the function that's invoked for converting a raw sample (as it appears in the `.jsonl`) into a format that is "under

[2019-12-17 08:49] #95 closed

[2019-12-17 08:54] mallamanis commented on #87
Hi @fengzhangyin,

I wouldn't expect this to be the case. Yes, the data is shuffled [here](https://github.com/github/CodeSearchNet/blob/d723b5803d00c2d39f63b2797bedde4c68af89ec/src/model_test.py#L82) but the numpy seed is fixed to `0` ([here](https://github.com/github/CodeSearchNet/blob/d723b5803d00c2d39f63b2797bedde4c68af89ec/src/model_test.py#L72)) which should yield a fixed "random" ordering.

[2020-01-28 21:49] Maxscha opened #104 "GPU Docker Image can not be build"
When building the gpu-docker image following error occurs:

`W: The repository 'http://ppa.launchpad.net/jonathonf/python-3.6/ubuntu xenial Release' does not have a Release file.
E: Failed to fetch http://ppa.launchpad.net/jonathonf/python-3.6/ubuntu/dists/xenial/main/binary-amd64/Packages  403  Forbidden
E: Some index files failed to download. They have been ignored, or old ones used instead.`

S

[2020-01-31 11:52] Savier opened #106 "php with utf-8 tokenization are broken"
I've tried to use php_dedupe_definitions_v2.pkl for my own project and found many functions with broken tokenization. For example, find functions with empty ('') tokens - there are above 8000 of that. Then, If we try to look for all 1-letter tokens we will get tons of 1-letter utf8 tokens which is impossible.

[2020-02-03 12:25] aquaktus opened #108 "Request for pre-fine tuning self-art weights"
Hi

I would like to obtain the self attention model weights before any fine tuning was done to it.
Does this [link](https://app.wandb.ai/github/codesearchnet/runs/h6vbduxb/files) from the leaderboard contain such a weights file. If it is the fine tuned one, could you make the base self-att model for python available.

My intention is to pass these weights to a model benefitting from contextual wor

[2020-02-09 15:00] #104 closed

[2020-02-09 15:09] hamelsmu commented on #106
Thanks savier, perhaps the `code` field can be used instead of the `code_tokens` field so you can do your own tokenization in the meantime?  Thank you for letting us know about this issue!

[2020-02-09 15:15] hamelsmu commented on #108
Hello Carlos, we did not use any pre-training / fine tuning approaches.  This is one of the areas of opportunity we expressly identified for future researchers [in our paper](https://arxiv.org/pdf/1909.09436.pdf).

We would love to see what kind of results you get by applying this approach!  Please let us know how it goes!

[2020-02-09 15:15] #108 closed

[2020-02-15 10:24] direction-yuan opened #115 "about"
use train set and valid set for training
and codebase for evaluating the model
so test set for what?
deep code search says that manual evaluation,
there is way for auto evaluation?

and for java dataset   some desc is empty  and some desc is not english ,like german

[2020-03-08 01:08] hamelsmu commented on #115
@direction-yuan perhaps this paper will help clarify things.  Let us know if there are additional questions

https://arxiv.org/pdf/1909.09436.pdf

[2020-03-08 20:44] edmondfrancoismillionnaires opened #124 "Can I download the models?"
Hello!
Is there a way to download the models without having to do the training ?
If not, can someone share his training ?
Thank you very much !

[2020-03-08 20:46] edmondfrancoismillionnaires opened #125 "Predict from string"
Hello!

Is there a function that takes a string as input and outputs the list of the most relevant functions based on the models ?

Thank you !

[2020-03-12 19:02] villmow opened #128 "Preprocessing of docstrings can be improved"
Hello,

first thanks for the challenge, the code and the dataset! Really cool stuff that you're doing and I want to work on this task. :)

I've read the Contribution Guidelines and know that you will not change any of the preprocessing code, but nevertheless I want to discuss the preprocessing of the docstrings here in case someone wants to produce a similar dataset (or maybe v3 ;) ) .

### Curren

[2020-03-17 15:02] monperrus opened #129 "question: changing the default leaderboard order"
The default ordering on the [leaderboard](https://app.wandb.ai/github/codesearchnet/benchmark/leaderboard) is "Mean NDCG" over all results that are not `None`.

This means it is very easy to appear \#1 by overfitting on a single language.

What about computing "Mean NDCG" over all 6 languages and replacing `None` by `0`?

[2020-03-18 17:10] hamelsmu commented on #129
@staceysv Can you help with this?

[2020-03-18 17:11] hamelsmu commented on #124
Yes you can, from Weights & Biases

@staceysv is there some instructions that I should link to on this?

[2020-03-18 17:11] #115 closed

[2020-04-02 11:53] yss14 opened #132 "CodeChallenge run prediction on whole code corpus?"
Did I get it right, that for a submission on the challenge, I have to run those 99 queries against the whole code corpus, and not just the test set?
Thanks in advance :)

[2020-04-03 15:50] yss14 commented on #132
And if so, is it safe to use the provided `{lang}_dedupe_definitions_v2.pkl` for my already trained custom model to run predictions (like you do in [predict.py](https://github.com/github/CodeSearchNet/blob/master/src/predict.py))? Or do I have to aggregate all content from the jsonline files?

[2020-04-04 17:15] mallamanis commented on #132
Hi @yss14
Yes, for each of the 99 queries, the challenge is to retrieve the most relevant functions in the whole code corpus. You should feel free to use any data you want to train any model (the test data is "hidden" behind the leaderboard).

This commonly means that you'd need to ask your trained model to rank the snippets for each programming language and for each query.

[2020-04-04 17:17] mallamanis commented on #125
Maybe the function [here](https://github.com/github/CodeSearchNet/blob/5599ac215c8280a02d11aaa9d30f006c79412741/src/predict.py#L67) is what you're looking for?

[2020-04-04 17:17] #125 closed

[2020-04-07 12:29] yss14 commented on #132
@mallamanis Thanks for your answer.
Do you have any clue how to efficently read the 6.6GB large `javascript_dedupe_definitions_v2.pkl` file? On my machine with 16GB RAM python takes 90% memory before the process is shut down due to memory limits.
`pickle.load(open('/home/yss/Downloads/javascript_dedupe_definitions_v2.pkl', 'rb'))`

[2020-04-09 10:33] mallamanis commented on #132
@yss14 you're right that this is a constraint we hadn't forseen.

We could easily convert the `.pkl` to a `.jsonl.gz` that can be read-in efficiently (e.g. with [`load_jsonl_gz`](https://github.com/microsoft/dpu-utils/blob/master/python/dpu_utils/utils/dataloading.py#L22)) by iterating though each sample. Do you think that this would be useful? Let us know if that'd be useful, and I can see how we

[2020-04-11 08:28] hamelsmu commented on #124
@staceb friendly ping

[2020-04-11 08:32] hamelsmu commented on #124
The models are available from the leaderboard.  You download our models here:

- nueral-bag-of-words: https://app.wandb.ai/github/codesearchnet/runs/5lzp82bu/files
- 1dcnn: https://app.wandb.ai/github/codesearchnet/runs/g9yrby1i/files
- self-attention: https://app.wandb.ai/github/codesearchnet/runs/h6vbduxb/files
- rnn: https://app.wandb.ai/github/codesearchnet/runs/a8yfarln/files

Thanks!

[2020-04-11 08:32] #124 closed

[2020-04-11 08:33] hamelsmu commented on #129
@staceysv @nbardy  can you help with this issue?

[2020-04-14 14:25] yss14 commented on #132
@mallamanis I now did it by myself, but I think for other people a jsonl file might be useful :)

[2020-04-14 14:25] #132 closed

[2020-04-17 14:47] yss14 opened #133 "wandb custom submission error"
I'm currently trying to submit a custom model. After entering the run, evaluating the ndcg score, and writing a brief note on how we approached the results, I get the following error

![wandb_submission_error](https://user-images.githubusercontent.com/4346842/79581548-d3992680-80ca-11ea-8d0b-1201877ab559.png)

Now, when I click `refresh`, I will be redirected to the submission page again. When try

[2020-04-20 10:24] vikrant-sahu opened #135 "Where can I find the pre-trained model"
I saw that one of the goal of this project is to "Open source code for a range of baseline models, along with pre-trained weights".
So Is there a pre-trained model? I couldn't find it here.

[2020-04-23 17:47] Zamony commented on #133
I have the same problem too. Have you found a solution?

[2020-04-27 15:49] novoselrok opened #136 "How long does it usually take to review a run?"
Hi!

I've made a custom model and now I'm trying to submit it to the leaderboard. Here is the run: https://app.wandb.ai/github/codesearchnet/runs/lqqo1i4m

Above it says 'Awaiting review from codesearchnet benchmark' and that's probably the reason why I get an error when I try to 'Publish to GitHub'. Am I doing something wrong, or do I just have to wait?

Thanks.

[2020-05-03 04:00] hamelsmu commented on #136
I believe it has been reviewed now, please let us know if there are any issues.

[2020-05-03 04:07] hamelsmu commented on #135
We aren't providing the pre-trained model but we provide you with instructions on how to reproduce it in the README.

Thanks

[2020-05-03 04:07] #135 closed

[2020-05-03 04:08] hamelsmu commented on #133
@shawnlewis ☝️ can you take a look?

[2020-05-03 04:09] hamelsmu commented on #128
Thanks for the feature request and suggestions.  This project is currently in maintenance mode, but we are happy to take a pull request.

Thanks

[2020-05-03 04:09] #128 closed

[2020-05-03 04:10] hamelsmu commented on #44
Please feel free to submit a PR to fix ... closing this issue as it has become stale

[2020-05-03 04:10] #44 closed

[2020-05-03 04:10] hamelsmu commented on #129
Closing this issue as it has become stale

[2020-05-03 06:51] novoselrok commented on #133
I get this error too after submitting model predictions.

[2020-05-03 06:55] novoselrok commented on #136
Issue is still present, I get the same error. I even created a new WANDB project and the same thing happens again. On both projects it still says 'Awaiting review from codesearchnet benchmark'. I have a fork of this repository, so I'm not sure what the problem is.

![Zaslonska slika_2020-05-03_08-50-08](https://user-images.githubusercontent.com/6417322/80907940-69fc5780-8d1b-11ea-8df6-448c6724fa5a

[2020-05-03 15:13] hamelsmu commented on #136
Can you take a screenshot of the error or the awaiting review screen?

Can you email support@wandb.com as well just linking to this issue?

[2020-05-03 17:09] novoselrok commented on #136
Thanks @hamelsmu, I've sent them an email.

[2020-05-04 04:07] hamelsmu commented on #133
@cvphelps can you help?

[2020-05-04 04:10] hamelsmu commented on #136
Could this issue be a duplicate of #133 ?  If so would prefer to track in a single issue

[2020-05-04 05:25] novoselrok commented on #136
It probably is, I'll close this one.

[2020-05-04 05:25] #136 closed

[2020-05-04 05:34] monperrus commented on #129
Ack. I understand that the default leaderboard order will stay the same.

[2020-05-04 16:28] hamelsmu commented on #129
@cvphelps can you look into this questino re: leaderboard ?

[2020-05-07 00:00] nbardy commented on #133
@novoselrok @yss14 We just shipped a fix which should fix your issues with submission.

I want to make sure your submissions are received, please respond here if there are additional issues. Or optionally to me directly via email: nick@wandb.com

[2020-05-07 06:09] novoselrok commented on #133
@nbardy It seems to be working now. I managed to submit this run: https://app.wandb.ai/roknovosel/glorified-code-search/runs/21hzzq1h/overview and a PR was opened: https://github.com/github/CodeSearchNet/pull/159 (I'm glad it worked on my best submission yet :smile:)

[2020-05-07 06:23] #133 closed

[2020-05-19 09:10] vikrant-sahu opened #193 "Error while processing a single Python file."
In CodeSearchNet/function_parser/function_parser/demo.ipynb .  I kept everything same till thrid cell and then I did this `processor.process_single_file(py_file_path)` . Here `py_file_path` contains the complete path of .py file that I want to process.

After executing the above line I got the following error :
`unhashable type: 'tree_sitter.Node'`  in file `function_parser/function_parser/parsers

[2020-06-05 00:59] sedflix opened #202 "question: calculating mrr and loss"
I'm making a model for this using my own codebase.  I wanted to confirm if this way of calculating loss and mrr is correct.

[code]

Here, `q` and `c` are query and code feature vector of shape (batch_size, vector_dimension).
I'm a bit hesitant because I feel that mrr and loss depend on the batch_size and kind of example in the batch(closely related(mrr might be low) or far apart(mrr can be high))

[2020-06-05 08:38] mallamanis commented on #202
Hi @sedflix
a) There are multiple possible losses that one could use. The one you have here, seems correct. We also have a few more loss functions [here](https://github.com/github/CodeSearchNet/blob/58635f9d9bc076595d22f1a91661419144d77af8/src/models/model.py#L284).
b) Your computation of MRR also seems correct (and closely matches the one we have [here](https://github.com/github/CodeSearchNet/blo

[2020-06-05 08:40] #202 closed

[2020-06-19 11:26] sjmoran opened #208 "Groundtruth"
Is there a plan to release the annotations?

[2020-06-19 14:57] mallamanis commented on #208
Hi Sean,

We don't have a concrete plan for releasing this. As long as we keep the leaderboard active, I'd prefer to keep the data "hidden". We will certainly release the annotations once we archive this project. However, we are still seeing valuable entries to the competition, so I don't expect us to archive this for the next 6 months.

However, if you have a legitimate reason for needing the ann

[2020-06-19 16:38] #208 closed

[2020-07-11 09:00] yss14 opened #211 "How to custom model submissions?"
How do I submit custom models only containing a `model_predictions.csv` file as an output of the custom model? It seems like the CI tests fail on custom model submissions and thus the PR is closed (see https://github.com/github/CodeSearchNet/pull/184)?

[2020-07-13 17:28] mallamanis commented on #211
Hi @yss14

There must have been an issue with the check and a miscommunication from our part on your submission. Everything looked okay in #184, which is now merged. Feel free to make new submissions!

[2020-07-13 17:28] #211 closed

[2020-07-17 17:34] ncshrikanth opened #214 "999 distractor snippets"
Thank You for CodeSearchNet. A quick question: if we wish to replicate Table 3 (of your paper) where can we find the 999 distractor snippets and how did you form those 999 snippets?

[2020-07-26 14:54] Zamony commented on #214
Hi, @ncshrikanth!
As far as I can tell, they were generated randomly:
https://github.com/github/CodeSearchNet/blob/e792e1caea20fbd4fba439565fe20c10d4798435/src/model_test.py#L58

[2020-07-26 21:52] ncshrikanth commented on #214
I see, thanks @Zamony !

[2020-08-11 08:23] dongs0104 opened #219 "py-tree-sitter does not have `_declarator`"
https://github.com/github/CodeSearchNet/blob/e792e1caea20fbd4fba439565fe20c10d4798435/function_parser/function_parser/parsers/java_parser.py#L81
change `_declarator` to `_declaration`

[2020-09-01 21:29] Ceceu commented on #128
Yet in maintenance mode? What kind of improvements can we expect?

[2020-09-02 00:02] hamelsmu commented on #128
No improvements.  This project is no longer being maintained

[2020-09-02 12:45] Ceceu commented on #128
Ok. Then, what about publishing the relevance judgment used to calculate NDCG?

[2020-09-02 12:48] Ceceu commented on #98
Hi @mallamanis,

What about publishing the relevance judgement?

[2020-09-03 17:51] Ceceu commented on #193
Hello @vikrant-sahu,
Did you find a solution?

[2020-09-04 22:59] hamelsmu commented on #219
Closed by #220

[2020-09-04 22:59] #219 closed

[2020-09-04 22:59] #214 closed

[2020-09-04 23:00] hamelsmu commented on #193
We are no longer maintaining this project See announcement in the README

[2020-09-04 23:00] #193 closed

[2020-09-04 23:02] hamelsmu commented on #129
This competition has now concluded

[2020-09-04 23:02] #129 closed

[2020-09-04 23:02] #106 closed

[2020-09-04 23:02] #83 closed

[2020-09-04 23:02] #87 closed

[2020-09-05 07:01] vikrant-sahu commented on #193
@Ceceu yes. I break down the code to make it work.
Will publish it in a few weeks.

[2020-09-09 14:02] mallamanis commented on #98
Done. See main README

[2020-09-20 08:08] Marken23 opened #224 "Support Dart and Flutter"
Flutter is a UI DSL currently pushed by Google. It uses the Dart programming language.

Is there any chance that you create Dart and Flutter dataset just like java, python, php, go, js and ruby?

Thanks for your work!

[2020-09-22 18:34] sajeedmehrab opened #225 "Less number of data found than stated in the paper"
The paper says that there are 503502 data available for python, but when I download the python data, I get 457461 data combining the 14 files of train data, the file for test data and the file for valid data. I used the whole corpus (of size 1.1M) to find the data with non-empty 'docstring'  field and ended up with the reported number of 503502 though. I assume 46k data have been filtered but cann

[2020-09-23 08:18] sajeedmehrab commented on #225
In section 2, under "dataset statistics", readers are referred to "Table 1" when talking about the resulting dataset after filtering. This misled me into thinking that the filtered dataset is of size 503502. Under more careful observation, I have noticed that the table only lists the number of data with documentation, and further filtering had been done to get to the final dataset. This solves the

[2020-09-23 08:18] #225 closed

[2020-12-16 01:29] HaorenD commented on #193
Hello, i met the same problem now. I use the lateset version docker file. Could u pls share how u fix it or share the code?

[2020-12-24 10:31] postatum commented on #124
Hi @hamelsmu.
Can I use these models to make predictions?
If so, can you, please, share a tip on how to use these models?

[2020-12-26 11:03] Sewens opened #226 "question about NDCG calculation"
I've noticed that the official calculation of NDCG is here.

https://github.com/github/CodeSearchNet/blob/3f999d599a2383ca5f47f1d7b745316ec7db86d9/src/relevanceeval.py#L75

On this basis the original paper has reported the NDCG of six languages on code search tasks.

![NDCG](https://user-images.githubusercontent.com/9146919/103149893-fe369580-47a8-11eb-83aa-11949f0c33c9.png)

While I re-implement

[2021-01-01 22:23] ncoop57 opened #227 "Generating Pypi module for function_parser"
Hi,

Are there any plans to export the function_parser library this repo has into a proper pypi module people could easily install? It looks awesome and I bet a ton of SE people could make use of it, especially if it was made a bit easier to setup. I'm more than happy to help with generating a PR to do it and if need be helping finishing any final touches it needs (I understand how research tools

[2021-01-07 10:57] Sewens commented on #226
Oh finally I‘ve figured out what's going wrong.
I tried to evaluating my ranking model on Java language, so I only loaded Java annotations data from https://github.com/github/CodeSearchNet/blob/master/resources/annotationStore.csv.
There are 5 to 10 annotated code snippets for each query where there are only a few unrelated codes.
The lack of 0 labels causes relatively higher NDCG scores.
For fix

[2021-01-23 09:14] LeorPoirot opened #228 "How can I get the annotated code?"
Hello, Mr. auther I'd like to do some L2R reseach with the CodeSearchNet code , I wonder if I can get the data that you've annotated already as you said in your paper "annotation statistic"! Thx a lot!!!

[2021-01-28 15:16] mallamanis commented on #228
@LeorPoirot please have a look [here](https://github.com/github/CodeSearchNet#evaluation).

[2021-01-28 15:16] #228 closed

[2021-01-28 15:19] mallamanis commented on #227
Hi @ncoop57 ,

I am glad that you have found this work useful! We don't have any plans to extract the function parser into a standalone package. However, the code is licensed under MIT, so you should feel free to clone/copy-paste the relevant code and create a PyPI package that you and others can use.

[2021-01-28 15:19] #227 closed

[2021-01-28 15:22] mallamanis commented on #224
Hi @Marken23,

We do not have any future plans regarding CodeSearchNet or collecting new data/annotations. However, if someone collects a relevant dataset, I would be happy to add a link next to our dataset of annotations in the README file.

[2021-01-28 15:22] #224 closed

[2021-01-28 15:23] #226 closed

[2021-01-28 15:23] mallamanis commented on #226
Thanks for looking into this @Sewens!

[2021-01-28 15:53] ncoop57 commented on #227
Already have 🤓 (https://github.com/ncoop57/function_parser) and have been using it for one of my research projects! Thank you to you and your team for a really useful tool 😀

[2021-01-28 16:01] mallamanis commented on #227
Great to hear! Added a relevant notice in the corresponding folder https://github.com/github/CodeSearchNet/commit/76a006fda591591f196fd0aef1d6282af3135f71

[2021-02-04 22:33] itconsultore opened #230 "Error when executing docker run"
I have tried to execute the scripts to run the dockers images such as
docker run -v $(pwd):/home/dev preprocessing

However, I have got the following:
standard_init_linux.go:219: exec user process caused: no such file or directory

Additionally, there is no script to run the docker-cpu.Dockerfile
how can I run that docker?

I have tried something like
docker run --net=host -v $(pwd):/home/dev csne

[2021-02-05 00:44] itconsultore opened #231 "Missing annoy module"

[2021-02-13 03:35] itconsultore opened #232 "Missing code to build files *_dedupe_definitions_v2.pkl"
I have noticed the usage of the files *_dedupe_definitions_v2.pkl when using predict.py
However, I cannot find the code to build the files *_dedupe_definitions_v2.pkl
how should I build those files?
what is the purpose of those files?

thanks

[2021-02-27 18:34] Zamony opened #233 "NDCG computation"
Hi there! In the function corresponding to NDCG calculation I noticed that `ignore_rank_of_non_annotated_urls` flag is present.
https://github.com/github/CodeSearchNet/blob/76a006fda591591f196fd0aef1d6282af3135f71/src/relevanceeval.py#L76

The question is: are your results in the paper calculated with `ignore_rank_of_non_annotated_urls=True`?

[2021-08-06 08:04] skye95git opened #234 "How to deconstruct code into tokens to extract functions and comments?"
I want to make a code search corpus. I have collected a lots of GitHub repositories. Now I need to deconstruct code into tokens to extract functions and comments. You describe in the paper `CodeSearchNet Challenge Evaluating the State of Semantic Code Search`: `We then tokenize all Go, Java, JavaScript, Python, PHP and Ruby functions (or methods) using TreeSitter — GitHub’s universal parser — and,

[2021-08-06 08:20] mallamanis commented on #234
You can find all our parsing code [here](https://github.com/github/CodeSearchNet/tree/master/function_parser).

[2021-08-06 08:20] #234 closed

[2021-08-10 04:32] skye95git commented on #234
Thank you for your reply! I have try the function parer in `CodeSearchNet/function_parser/` folder. But I met some problems:

1. What is the input? In the examples, the input is `library keras-team/keras`. Is it [https://github.com/keras-team/keras](url)? But it's a repository. Is it one repository per input?

2. What is the output? The output in the examples is

`{
    'nwo': 'keras-team/keras',

[2021-08-10 07:38] skye95git opened #235 "How to run the Function Parser?"
I want to  try the function parser in `CodeSearchNet/function_parser/` folder. But I don' know how to use it. The guide in the README is

<img width="761" alt="捕获7" src="https://user-images.githubusercontent.com/41561936/128826891-65516d11-851a-495a-9c10-25a0a9f6e0bf.PNG">

How to run the notebook `script/bootstrap` or `script/server`?

I load the `CodeSearchNet-master/function_parser/script/boots

[2021-08-13 03:47] skye95git commented on #193
Hi, I meet the same problem with you. Where did you publish it?

[2021-08-13 08:31] skye95git opened #236 "What is the difference between the Original String and code fields？"
What is the difference between the Original_String and code fields？

The readme show: `code: the part of the original_string that is code`

What else does an Original String include besides code?

[2021-08-22 02:38] skye95git commented on #128
Have you improved the preprocessing of docstrings？Can you share the url？

[2021-08-22 08:46] skye95git opened #237 "How big the dataset is？"
The description in `Setup`:
`The datasets you will download (most of them compressed) have a combined size of only ~ 3.5 GB`.

The description in `Downloading Data from S3`:
`The size of the dataset is approximately 20 GB`.

They are all data downloaded by running `script/setup`. Why not the same amount of data? Which one is right? Does 3.5G refer only to the size of the dataset per programming la

[2021-11-24 08:04] MarsChenSE commented on #232
*_dedupe_definitions_v2.pkl file is downloaded by "setup" shell script. You can download it by hand using the link in "Downloading Data from S3" section. When you unzip the file, you will see the file

[2022-05-19 00:06] vatsal-kr opened #239 "Request to provide unfiltered dataset"
According to the accompanying [paper](https://arxiv.org/pdf/1909.09436.pdf), the dataset has been filtered to, among other things, include only those instances which have an attached documentation.
Please provide the unfiltered dataset with the instances without documentation as well

[2022-05-31 06:28] vatsal-kr commented on #239
The dataset in question comes as a pickle file ({LANGUAGE}_dedupe_definitions_v2.pkl) when downloaded from s3/docker

[2022-05-31 06:28] #239 closed, assigned to nobody

[2022-07-15 03:14] Royd-simusokwe opened #240 "Codes"

[2022-07-31 03:22] 3usi9 opened #241 "Please add the commit id for each language parser"
In the Dockerfile of function-parser, the script downloads tree-sitter==0.0.5, however, the language parser repositories are updated, which leads to conflicts, please add the `git checkout` command for each language parser.

[2022-08-24 23:46] harshgeek4coder opened #242 "Expired or Private Links of Java Code Snippets in CodeSearchNET"
I was trying to access codesearch net dataset for my work - specifically java based data via the given link in codesearchnet repository :
[https://s3.amazonaws.com/code-search-net/CodeSearchNet/v2/java.zip](https://s3.amazonaws.com/code-search-net/CodeSearchNet/v2/%7Bpython,java,go,php,ruby,javascript%7D.zip)

While accessing the data parameters and initial data exploration, I observed that a lot

[2022-09-10 07:39] Alex-HaochenLi commented on #233
Both are reported.
In Table 4, NDCG-Within for True, NDCG-All for False.

[2022-09-10 21:20] shreethatte opened #243 "Clone not working"
Hello, I tried cloning this repo.  Got the following error:
error: invalid path 'benchmarks/02-Feb-20-16:33_github_g2od7jac.json'
fatal: unable to checkout working tree
warning: Clone succeeded, but checkout failed.
You can inspect what was checked out with 'git status'
and retry with 'git restore --source=HEAD :/'

I tried git restore, but that resulted in a staged delete of all the code.

[2022-09-11 18:25] shreethatte commented on #243
This might be a windows specific issue. Worked fine on linux

[2022-10-21 07:56] SIPUNK opened #244 "can we combine the original dataset and re-divided to perform cross-validation?"
how do you divide the training/testing/validation set, I don't seem to find the basis for the division, only the ratio. If we want to perform cross-validation, can we combine the original training set, test set, and validation set and re-divided.